.wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;

  > button {
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  > span {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(125, 125, 125, 0.1);
    border-radius: 50%;
    animation: riffle .7s forwards;
    z-index: 0;
  }
}

@keyframes riffle {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(25);
  }
}