:root {
  --min-width: 1024px;
  --max-width: 1440px;

  --white: #fff;
  --black: #000;
  --grey: #EAEBEC;
  --green: #02af5f;

  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.page {
  height: 100vh;
  background: var(--grey);

  > main {
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: 16px auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
  }
}