:root {
  --min-width: 1024px;

  --white: #fff;
  --black: #000;
  --grey: #EAEBEC;
  --blue: #5f6caf;
  --theme-color: #005696;
  --orange: #ffb677;

  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.page {
  min-height: 100vh;
  min-width: var(--min-width);
  background: var(--grey);
  font-size: 16px;

  main {
    margin: 0 auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }
}