.page {
  width: 35%;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;

  > nav {
    width: 15%;
    min-height: 620px;
    background-color: var(--blue);
    color: var(--white);

    > ul > li {
      height: 48px;
      margin: 16px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover, &:global(.active) {
        background-color: var(--white);
        color: var(--black);
        cursor: pointer;
      }

      svg:global(.icon) {
        width: 32px;
        height: 32px;
        fill: var(--orange)
      }
    }
  }

  > :global(ul.panel) {
    flex-grow: 1;
    flex-basis: 0px;

    > li {
      display: none;
      padding: 15px;

      :global {
        .resumeField {
          textarea, label {
            padding: 5px;
            text-align: justify;
          }

          label {
            display: block;
          }

          textarea {
            width: 100%;
            margin: 16px 0;
            border: 1px solid var(--grey);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
          }
        }

        hr {
          margin: 24px 0;
          border-top: 1px solid var(--grey);
        }

        .btn {
          padding: 4px 15px;
          outline: none;
          background-color: var(--white);
          color: var(--blue);
          cursor: pointer;

          .action-plus + span {
            margin-left: 8px;
          }

          &:active {
            box-shadow: 3px 3px 10px var(--blue);
          }
        }

        .btn-dashed {
          border: 1px dashed var(--blue);
          width: 100%;
        }

        .btn-remove {
          padding: 5px;
          display: inline-block;
          cursor: pointer;

          svg.icon {
            fill: var(--blue);
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    > li:global(.active) {
      display: list-item;
    }
  }
}