.page {
  background: var(--white);
  box-shadow: var(--box-shadow);

  :global {
    .wrapper {
      height: 64px;
      margin: 0 auto;
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--blue);

      .logo {
        font-size: 24px;
      }

      .-item-right {
        display: flex;
        align-items: center;

        .user.actions {
          margin-right: 20px;
        }

        span {
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
